/* Fuentes

font-family: 'Fredoka', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@100&family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap');

/* Estilo de reseteo */
*{
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 130%; 
    scroll-behavior: smooth;
}

/* -------------- */
/* Inicio General */

a {
    text-decoration: none;
}

p::selection {
    background-color: #eb9f06;
}

span::selection {
    background-color: #eb9f06;
}   

ul li {
    list-style-type: none;
}

/* Fin General */
/* ----------- */

/* ------------- */
/* INICIO HEADER */

.img__logo {
    width: 300px;
}

li .a__submenu:hover {
    color: #003249;
}

/* ---------------- */
/* INICIO MAIN HOME */

/* ----------------------- */
/* SECCIÓN HERO IMAGE HOME */

.div__heroImage {
    background-image: url(../multimedia/images/hero-image_b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
}

.div__fondoHero {
    background-color: #003249;
    opacity: 0.9;
    height: 320px;
    position: relative;
    padding-top: 15px;    
}

.div__btn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


@media only screen and (min-width: 991.1px) {
    .div__fondoHero {
        height: 400px;
        padding-top: 10px;    
    }
    
} 

/* FIN SECCIÓN HERO IMAGE HOME */
/* --------------------------- */

/* ---------------------------- */
/* INICIO SECCIÓN ADELANTO HOME */

.div__home_adelanto {
    background-color:#80ced7;
    height: 170px;
    padding-top: 20px;
}

.audio__home {
    width: 100%;
}


/* FIN SECCIÓN ADELANTO HOME */
/* ------------------------- */

/* ----------------------- */
/* INICIO SECCIÓN BIO HOME */

.div__home_bio {
    background-color:#9ad1d4;
    padding-top: 20px;  
    padding-bottom: 30px;  
}

.img__bio_home {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);  
    margin: 10px 0;    
}

.div__bio_txt {
    max-height: 400px;
    overflow: auto;
    margin: 10px 0;
}

@media only screen and (min-width: 576px) and (max-width: 991px) {    

    .img__bio_home {
        width: 100%;
    }

    .div__bio_txt {
        max-height: 300px;
        overflow: auto;        
    }

    .img__bio_home {
        margin: 0;    
    }   

}

@media only screen and (min-width: 991.1px) {
    
    .img__bio_home {
        width: 100%;
    }

    .div__bio_txt_home {        
        height: 350px;
        overflow: auto;
        margin: 10px 0;        
    }
}


/* FIN SECCIÓN BIO HOME */
/* -------------------- */

/* ------------------------------- */
/* INICIO SECCIÓN DISCOGRAFÍA HOME */

.div__home_discografia {
    background-color:#ccdbdc;
    height: 600px;
    padding-top: 20px; 
}

.h3__home {
    margin-top: 20px;
}

/* ---------------- */
/* INICIO CARROUSEL */

@keyframes carousel-slide {
    0% {
        transform: translateX(0%); 
    }
  
    50% {
        transform: translateX(-50%);
    }    
    
  }
  
.article__carousel_disc {
    margin: 2rem auto;
    padding: 2rem 0;
    text-align: center;
    background-color: var(--carousel-bg-color);
    overflow-x: hidden;
    border-radius: 20px;
}

.article__carousel_disc .slides {
    padding-left: 0;
    width: 400%;
    display: flex;
    list-style: none;
    transition: transform 1s ease-in-out;
    animation: carousel-slide 24s ease-in-out 3s;
    animation-iteration-count: infinite;    
}

.article__carousel_disc input {
    display: none;
}

.article__carousel_disc label {
    border: medium solid var(--gray-dark-color);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 .25rem;
    display: inline-block;
    width: .75rem;
    height: .75rem;
}

#slide-1:checked ~ .slides {
    transform: translateX(0%);
}

#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3 {
    background-color: var(--gray-dark-color);
}

.img__slider{
    width: 400px;
    height: 300px;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 0 20px;
}

 /* FIN CARROUSEL */
 /* ------------- */

 @media only screen and (min-width: 576px) and (max-width: 991px) {

    /* INICIO CARROUSEL */    
    
    .article__carousel_disc {
        padding-top: 10px;        
        max-width: 480px;        
    }
    
    .article__carousel_disc .slides {
        width: 410%;        
    }
    
    li.slide {
        padding-left: 20px;
        padding-right: 20px;
    }
        
    .img__slider{
        width: 390px;       
    }
    
     /* FIN CARROUSEL */


 }


 @media only screen and (min-width: 991.1px) {
    
    @keyframes carousel-slide {
        0% {
            transform: translateX(0%); 
        }
      
        25% {
            transform: translateX(-25%);    
        }
      
        50% {
            transform: translateX(-50%);
        }    
        
      }
      
    .article__carousel_disc {
        margin: 2rem auto;
        padding: 2rem 0;
        max-width: 850px;
        text-align: center;
        background-color: var(--carousel-bg-color);
        overflow-x: hidden;
        border-radius: 20px;
    }
    
    .article__carousel_disc .slides {
        padding-left: 0;
        width: 400%;
        display: flex;
        list-style: none;
        transition: transform 1s ease-in-out;
        animation: carousel-slide 24s ease-in-out 3s;
        animation-iteration-count: infinite;
    }
    
    .article__carousel_disc input {
        display: none;
    }
    
    .article__carousel_disc label {
        border: medium solid var(--gray-dark-color);
        border-radius: 50%;
        cursor: pointer;
        margin: 0 .25rem;
        display: inline-block;
        width: .75rem;
        height: .75rem;
    }
    
    #slide-1:checked ~ .slides {
        transform: translateX(0%);
    }
    
    #slide-2:checked ~ .slides-nav label#dot-2,
    #slide-3:checked ~ .slides-nav label#dot-3 {
        background-color: var(--gray-dark-color);
    }
    
    .img__slider{
        width: 800px;
        height: 300px;
        object-fit: cover;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        margin: 0 20px;
    }
      
      
 }


/* FIN SECCIÓN DISCOGRAFÍA HOME */
/* ---------------------------- */

/* --------------------------- */
/* INICIO SECCIÓN RESEÑAS HOME */

.div__home_resenas {
    background-color:#9ad1d4;    
    padding-top: 20px; 
    padding-bottom: 30px;
}

.article__resena_home {
    margin: 20px 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: #ccdbdc;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 1s;    
}

.div__resena_home2 {
    display: none;
}

.img__resena_home {
    width: 50%;
    margin-top: 20px;
}

.p__resena_home small{
    transition: 0.2s;
}

.article__resena_home p small:hover {
    font-weight: 400;
}

.article__resena_home:hover {
    transform: scale(1.05);
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .div__resena_home2 {
        display: block;
    }

    .p__resena_home {
        height: 200px;
        overflow: auto;
    }        

}

@media only screen and (min-width: 991px) {

    .div__resena_home2 {
        display: block;
    }

    .p__resena_home {
        height: 200px;
        overflow: auto;
    }

    .img__resena_home {
        width: 30%;
        margin-top: 20px;
    }

}

/* FIN SECCIÓN RESEÑAS HOME */
/* ------------------------ */

/* -------------------------- */
/* INICIO SECCIÓN EXTRAS HOME */

.div__home_extras {
    background-color:#ccdbdc;
    padding-bottom: 30px;
    padding-top: 20px;    
}

.div__contenedor_extras1 {
    height: 200px;    
}

.div__contenedor_extras2 {
    height: 200px;    
}

.div__col_extras_lg {
    display: none;
}

.div__img_extras1 {
    grid-area: imgExtras1;
    width: 100%;
    height: 90%;
    background-image: url(../multimedia/images/galeria3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 0.5s;
}

.div__img_extras2 {
    grid-area: imgExtras2;
    width: 100%;
    height: 90%;
    background-image: url(../multimedia/images/videos_b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 0.5s;
}

.div__img_extras3 {
    grid-area: imgExtras3;
    width: 100%;
    height: 90%;
    background-image: url(../multimedia/images/pensamientos_b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 0.5s;
}

.div__img_extras4 {
    grid-area: imgExtras4;
    width: 100%;
    height: 90%;
    background-image: url(../multimedia/images/tutoriales_b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 0.5s;
}

.div__img_extras5 {
    grid-area: imgExtras5;
    width: 100%;
    height: 90%;
    background-image: url(../multimedia/images/referentes_b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 0.5s;
}

.div__img_extras6 {
    grid-area: imgExtras6;
    width: 100%;
    height: 90%;
    background-image: url(../multimedia/images/recomendados_b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 0.5s;
}

.div__col_extras div a {
    transition: all 0.5s;    
}

.div__col_extras div:hover {
    transform:scale(1.02)
}

.div__col_extras div a:hover {
    background-color:white;
    opacity: 0.8;
    width: 100%;
    padding: 5px 0;
    color: #424251;
    text-align: center;
    
}

@media only screen and (min-width: 991.1px) {
    .div__col_extras_lg {
        display: block;
    }

    .div__btnExHome {
        display: none;
    }

}

/* FIN SECCIÓN EXTRAS HOME */
/* ----------------------- */


/* FIN MAIN HOME */
/* ------------- */


/* ------------- */
/* INICIO FLECHA */

.img__flecha {
    width: 50%;
    margin-left: 23%;
    margin-top: 25%;
}

.div__flecha_inicio {
    background-color: white;
    height: 50px;
    width: 50px;
    color: gray;    
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);    
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0.8;
}

/* FIN FLECHA */
/* ---------- */


/* ------------- */
/* INICIO FOOTER */


.div__footer {
    background-color: #003249;
    height: 120px;    
}

.div__fila_footer {
    height: 100%;
}

.img__logo_footer {
    width: 300px;
    opacity: 0.7;
}

.footer_redes {
    display: flex;
    justify-content: center;
}

.div__footer_disclaimer {
    font-size: 10px;
}

.footer_redes a {
    transition: 0.5s;
}

.footer_redes a:hover {
    transform: translate(0, -7px);
}

/* FIN FOOTER */
/* ---------- */

/* ------------------------ */
/* INICIO SECCIÓN PRE-VENTA */

.section__pre_venta {
    background-color: #80ced7;         
}

.div__img_prev {
    background-image: url(../multimedia/images/hero-image.jpg);
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.div__img_prev a {
    transition: 1s;
}

.div__img_prev a:hover {
    background-color: #003249;
    width: 100%;
    font-weight: 500;
    padding: 5px 0;
    opacity: 0.8;
    text-align: center;
}

.div__prev_adelanto {
    background-color:#C1E8EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 100%;
}

@media only screen and (min-width: 991.1px) {
    .div__img_prev {
        height: 300px;        
    }

    .audio__prev {
        width: 100%;
    }
    
}

/* --------------------- */
/* FIN SECCIÓN PRE-VENTA */

/* ------------------ */
/* INICIO SECCIÓN BIO */

.section__bio {
    background-color: #9AD1D4;
}

.img__bio {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 100%;  
    height: 300px;  
    object-fit: cover;
    object-position: center;  
    transition: 1s;
}

.img__bio_b {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 100%;  
    height: 100px;  
    object-fit: cover;
    object-position: center;  
    transition: 1s;
}

.p__epig {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}

.img__bio:hover {
    transform: scale(1.05);
}

.img__bio_b:hover {
    transform: scale(1.05);
}

@media only screen and (min-width: 991.1px)  {
    .div__bio_txt {
        height: 300px;
        overflow: auto;
    }
}

/* FIN SECCIÓN BIO */
/* --------------- */

/* -------------------------- */
/* INICIO SECCIÓN DISCOGRAFÍA */

.section__discografia {
    background-color: #CCDBDC;    
}

.div__d1 {
    animation: backInLeft;
    animation-duration: 2s;
}

.iframe__disco {
    width: 100%;
    height: 100%;
    border-radius: 20px;    
}

.div__d2 {
    animation: backInRight;
    animation-duration: 6s;
}

.div__d3 {
    animation: backInLeft;
    animation-duration: 8s;
}

.h2__disc_lg {
    display: none;
}

@media only screen and (min-width: 991.1px) {
    .h2__disc_lg {
        display: block;
    }

    .h2__disc {
        display: none;
    }

    .iframe__disco {
        height: 250px;
    }

    .div__bio_txt {
        height: 200px;
    }

}

/* FIN SECCIÓN DISCOGRAFÍA */
/* ----------------------- */

/* ---------------------- */
/* INICIO SECCIÓN RESEÑAS */

.section__resenas {
    background-color: #9AD1D4;    
}

.btn_r_lg {
    display: none;
}

@media only screen and (min-width: 991.1px) {
    .btn_t_mobile {
        display: none;
    }

    .btn_r_lg {
        display: block;
    }

    .img__lg {
        width: 70%;
        
    }

}

/* FIN SECCIÓN RESENAS */
/* ------------------- */

/* --------------------- */
/* INICIO SECCIÓN EXTRAS */

.div__seccion_extras {
    background-color: #CCDBDC;    
}

/* ----------------------------- */
/* INICIO SECCIÓN EXTRAS-GALERIA */

.div__galeria1 {
    height: 150px;
    overflow: hidden;
    transition: 1s;
}

.div__galeria1:hover {
    transform: translate(0, -7px);
}

.div__galeria2 {
    height: 150px;
    overflow: hidden;
    transition: 1s;
}

.div__galeria2:hover {
    transform: translate(0, -7px);
}

.div__galeria3 {
    height: 150px;
    overflow: hidden;
    transition: 1s;
}

.div__galeria3:hover {
    transform: translate(0, -7px);
}

.div__galeria4 {
    height: 150px;
    overflow: hidden;
    transition: 1s;
}

.div__galeria4:hover {
    transform: translate(0, -7px);
}

.div__galeria5 {
    height: 150px;
    overflow: hidden;
    transition: 1s;
}

.div__galeria5:hover {
    transform: translate(0, -7px);
}

@media only screen and (min-width: 991.1px) {

    .div__galeria1 {
        height: 200px; 
    }    

    .img__galeria1 {
        width: 100%;
    } 
    
    .div__galeria2 {
        height: 200px;
        overflow: hidden;
    }

    .img__galeria2 {
        width: 100%;
    }
    
    .div__galeria3 {
        height: 200px;
        overflow: hidden;
    }

    .img__galeria3 {
        width: 100%;
    }
    
    .div__galeria4 {
        height: 200px;
        overflow: hidden;
    }

    .img__galeria4 {
        width: 100%;
    }
    
    .div__galeria5 {
        height: 200px;
        overflow: hidden;
    }

    .img__galeria5 {        
        height: 100%;
    }

}

/* FIN SECCIÓN EXTRAS-GALERIA */
/* -------------------------- */

/* ---------------------------- */
/* INICIO SECCIÓN EXTRAS-VIDEOS */

.div__seccion_videos {
    background-color: #9AD1D4;
}

.videoYT {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    height: 200px;
}

.videoYT:hover {
    transform: scale(0.95);
}

@media only screen and (min-width: 991.1px) {

    .videoYT {       
        height: 300px;
    }

}

/* FIN SECCIÓN EXTRAS-VIDEOS */
/* ------------------------- */

/* ---------------------------------- */
/* INICIO SECCIÓN EXTRAS-PENSAMIENTOS */

.div__seccion_pensamientos {
    background-color: #CCDBDC;
}

.div__pens1 {
    height: 300px;
    padding: 10px;
    transition: 0.5s;
}

.div__pens2 {
    height: 300px;
    transition: 0.5s;
}

.div__pens3 {
    height: 400px;
    transition: 0.5s;
}

.div__pens4 {
    height: 400px;
    transition: 0.5s;
}

.div__pens5 {
    height: 200px;
    transition: 0.5s;
}

.div__pens6 {
    height: 200px;
    transition: 0.5s;
}

.div__pens7 {
    height: 200px;
    transition: 0.5s;
}

.div__contenedor_pens div:hover {
    background-color: #80ced7;
}


/* FIN SECCIÓN EXTRAS-PENSAMIENTOS */
/* ------------------------------- */

/* -------------------------------- */
/* INICIO SECCIÓN EXTRAS-TUTORIALES */

.div__seccion_tutoriales {
    background-color: #9AD1D4;
}

.videoTuto {
    height: 300px;
    border-radius: 10px;
    width: 90%;
}

@media only screen and (min-width: 991.1px) {

    .videoTuto {        
        width: 80%;
    }    
}

/* FIN SECCIÓN EXTRAS-TUTORIALES */
/* ----------------------------- */

/* ------------------------- */
/* INICIO SECCIÓN EXTRAS-REFERENTES */

.div__ref {
    height: 300px;    
}

.img__ref1 {
    height: 300px;
    object-fit: cover;
    object-position: right;
}

.img__ref2 {
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.img__ref3 {
    height: 300px;
    object-fit: cover;
    object-position: center;
}

@media only screen and (min-width: 991.1px) {

    .div__ref {
        height: 200px;        
    }

    .img__ref1 {
        height: 200px;        
    }
    
    .img__ref2 {
        height: 200px;        
    }
    
    .img__ref3 {
        height: 200px;        
    }

}

/* FIN SECCIÓN EXTRAS-REFERENTES */
/* ---------------------- */

/* --------------------------- */
/* INICIO SECCIÓN EXTRAS-RECOMENDADOS */

.div__seccion_recomendados {
    background-color: #9AD1D4;
}

.img__recom {
    height: 200px;
    object-fit: cover;
    object-position: center;
}

/* FIN SECCIÓN EXTRAS-RECOMENDADOS */
/* ------------------------ */

/* FIN  SECCIÓN EXTRAS */
/* ------------------- */

/* ----------------------- */
/* INICIO SECCIÓN CONTACTO */

.section__contacto {
    background-color: #9AD1D4;
}

.div__formContacto {
    animation: slideInDown;
    animation-duration: 2s;
}

.div__formImg {
    animation: slideInUp;
    animation-duration: 2s;
}

.img__contacto {
    height: 200px;
    object-fit: cover;
    object-position: center;
}

@media only screen and (min-width: 991.1px) {
    .img__contacto {
        height: 500px;
        object-fit: cover;
        object-position: center;
    }
}

/* FIN SECCIÓN CONTACTO */
/* -------------------- */

/* FIN STYLESHEET */
/* -------------- */
