$vista:mobile;

/* ------------------ */
/* INICIO SECCIÓN BIO */

main {
    .main__div--bio {
        background-color: $color3;
        height: 2700px;
        @media only screen and (min-width: $minTablet) and (max-width: $maxTablet) {
            $vista:tablet;
            @if $vista == tablet {
                height: 2200px;
            }
        }
        @media only screen and (min-width: $minDesktop) {
            $vista:desktop;
            @if $vista == desktop {
                height: 2100px;
            }
        }
        div {
            div {
                .div__cont--bio {
                    @include gridCentro;
                    grid-template-columns: 80%;
                    grid-template-rows: repeat(3, 250px) 500px repeat(5, 250px);
                    grid-template-areas: 
                    "bioTxt1"
                    "bioImg1"
                    "bioImg2"
                    "bioTxt2"
                    "bioImg3"
                    "bioTxt3"
                    "bioImg4"
                    "bioTxt4"
                    "bioImg5";
                    row-gap: 1%;
                    @media only screen and (min-width: $minTablet) and (max-width: $maxTablet) {
                        $vista:tablet;
                        @if $vista == tablet {
                            grid-template-rows: 200px 250px 250px 200px 230px 190px 230px 200px 200px;
                        }
                    }
                    @media only screen and (min-width: $minDesktop) {
                        $vista:desktop;
                        @if $vista == desktop {
                            grid-template-columns: 40% 40%;
                            grid-template-rows: repeat(4, 400px) 300px;
                            grid-template-areas: 
                            "bioTxt1 bioImg1"
                            "bioTxt2 bioImg2"
                            "bioImg3 bioTxt3"
                            "bioImg4 bioTxt4"
                            "bioImg5 bioImg5";
                            column-gap: 1%;
                        }
                    }
                    .div__contTxt1--bio {
                        grid-area: bioTxt1;
                        p {
                            &:not(.div__p--txtBio2){
                                height: 250px;
                                overflow: auto;
                                @media only screen and (min-width: $minDesktop) {
                                    $vista:desktop;
                                    @if $vista == desktop {
                                        height: 400px;
                                        overflow: auto;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                            font-size: 18px;
                            line-height: 30px;
                            @media only screen and (min-width: $minDesktop) {
                                $vista:desktop;
                                @if $vista == desktop {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                    .div__contImg1--bio {
                        grid-area: bioImg1;
                        .div__img--bio {
                            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
                            border-radius: 20px;
                            width: 100%;  
                            height: 200px;  
                            object-fit: cover;
                            object-position: center;  
                            transition: 1s;
                            &:hover {
                                transform: scale(1.05);
                            }
                            @media only screen and (min-width: $minDesktop) {
                                $vista:desktop;
                                @if $vista == desktop {
                                    width: 100%;  
                                    height: 80%;
                                    margin-bottom: 10px;  
                                }
                            }
                        }                        
                    }
                    .div__contImg2--bio {
                        grid-area: bioImg2;
                        .div__img--bio {
                            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
                            border-radius: 20px;
                            width: 100%;  
                            height: 200px;  
                            object-fit: cover;
                            object-position: center;  
                            transition: 1s;
                            &:hover {
                                transform: scale(1.05);
                            }
                            @media only screen and (min-width: $minDesktop) {
                                $vista:desktop;
                                @if $vista == desktop {
                                    width: 100%;  
                                    height: 80%;
                                    margin-bottom: 10px;  
                                }
                            }
                        }                        
                    }
                    .div__contTxt2--bio {
                        grid-area: bioTxt2;
                        p {
                            &:not(.div__p--txtBio2){
                                height: 250px;
                                overflow: auto;
                                @media only screen and (min-width: $minDesktop) {
                                    $vista:desktop;
                                    @if $vista == desktop {
                                        height: 400px;
                                        overflow: auto;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                            font-size: 18px;
                            line-height: 30px;
                            @media only screen and (min-width: $minDesktop) {
                                $vista:desktop;
                                @if $vista == desktop {
                                    font-size: 22px;
                                }
                            }
                        }
                        .div__p--txtBio2 {
                            height: 500px;
                            overflow: auto;
                            @media only screen and (min-width: $minTablet) and (max-width: $maxTablet) {
                                $vista:tablet;
                                @if $vista == tablet {
                                    height: 350px;                                    
                                }
                            }
                            @media only screen and (min-width: $minDesktop) {
                                $vista:desktop;
                                @if $vista == desktop {
                                    height: 400px;
                                }
                            }
                        }
                    }
                    .div__contImg3--bio {
                        grid-area: bioImg3;
                        .div__img--bio {
                            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
                            border-radius: 20px;
                            width: 100%;  
                            height: 200px;  
                            object-fit: cover;
                            object-position: center;  
                            transition: 1s;
                            &:hover {
                                transform: scale(1.05);
                            }
                            @media only screen and (min-width: $minDesktop) {
                                $vista:desktop;
                                @if $vista == desktop {
                                    width: 100%;  
                                    height: 80%;
                                    margin-bottom: 10px;  
                                }
                            }
                        }                        
                    }
                    .div__contTxt3--bio {
                        grid-area: bioTxt3;
                        p {
                            &:not(.div__p--txtBio2){
                                height: 250px;
                                overflow: auto;
                                @media only screen and (min-width: $minDesktop) {
                                    $vista:desktop;
                                    @if $vista == desktop {
                                        height: 400px;
                                        overflow: auto;
                                        margin-bottom: 10px;
                                    }
                                }
                                @media only screen and (min-width: $minDesktop) {
                                    $vista:desktop;
                                    @if $vista == desktop {
                                        margin-left: 1%;
                                    }
                                }
                            }
                            font-size: 18px;
                            line-height: 30px;
                            @media only screen and (min-width: $minDesktop) {
                                $vista:desktop;
                                @if $vista == desktop {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                    .div__contImg4--bio {
                        grid-area: bioImg4;
                        .div__img--bio {
                            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
                            border-radius: 20px;
                            width: 100%;  
                            height: 200px;  
                            object-fit: cover;
                            object-position: center;  
                            transition: 1s;
                            &:hover {
                                transform: scale(1.05);
                            }
                            @media only screen and (min-width: $minDesktop) {
                                $vista:desktop;
                                @if $vista == desktop {
                                    width: 100%;  
                                    height: 80%;
                                    margin-bottom: 10px;  
                                }
                            }
                        }                        
                    }
                    .div__contTxt4--bio {
                        grid-area: bioTxt4;
                        p {
                            &:not(.div__p--txtBio2){
                                height: 250px;
                                overflow: auto;
                                @media only screen and (min-width: $minDesktop) {
                                    $vista:desktop;
                                    @if $vista == desktop {
                                        height: 400px;
                                        overflow: auto;
                                        margin-bottom: 10px;
                                    }
                                }
                                @media only screen and (min-width: $minDesktop) {
                                    $vista:desktop;
                                    @if $vista == desktop {
                                        margin-left: 1%;
                                    }
                                }
                            }
                            font-size: 18px;
                            line-height: 30px;
                            @media only screen and (min-width: $minDesktop) {
                                $vista:desktop;
                                @if $vista == desktop {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                    .div__contImg5--bio {
                        grid-area: bioImg5;
                        .div__img--bioB {
                            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
                            border-radius: 20px;
                            width: 100%;  
                            height: 100px;  
                            object-fit: cover;
                            object-position: center;  
                            transition: 1s;
                            display: flex;
                            align-items: flex-start;
                            &:hover {
                                transform: scale(1.05);
                            }
                            @media only screen and (min-width: $minDesktop) {
                                $vista:desktop;
                                @if $vista == desktop {
                                    height: 250px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* FIN SECCIÓN BIO */
/* --------------- */