$vista:mobile;

/* ----------------------- */
/* INICIO SECCIÓN CONTACTO */

main {
    .main__div--contacto {
        background-color: $color3;
        div {
            .div__contenedor--img {
                animation: slideInUp;
                animation-duration: 2s;
                .div__img--contacto {
                    height: 200px;
                    object-fit: cover;
                    object-position: center;
                    @media only screen and (min-width: $minDesktop) {
                        $vista:desktop;
                        @if $vista == desktop {
                            height: 750px;
                        }
                    }
                }
            }
            .div__form--contacto {
                animation: slideInDown;
                animation-duration: 2s;
                background-color: #C1E8EC;
                border-radius: 20px;
            }
        }
    }
}
/* FIN SECCIÓN CONTACTO */
/* -------------------- */