$vista: mobile;

/* -------------------------- */
/* INICIO SECCIÓN DISCOGRAFÍA */

.main__contenedor--discografia {
    background-color: $color4;
    height: 2400px;
    @media only screen and (min-width: $minTablet) and (max-width: $maxTablet) {
        $vista:tablet;
        @if $vista == tablet {
            height: 2000px;
        }
    }
    @media only screen and (min-width: $minDesktop) {
        $vista:desktop;
        @if $vista == desktop {
            height: 1400px;
        }
    }
    .main__div--contDisc {
        
        // Inicio aplicación map-get
        $div__p--Disc: (
            color: #4A4A5B,
            size: 22px,
            letter-spacing: 5px
        );

        .div__p--Disc {
            color: map-get($div__p--Disc, color);
            font-size: map-get($div__p--Disc, size);
        }
        // Fin aplicación map-get
        
        @include gridCentro;
        row-gap: 20px;
        grid-template-columns: 80%;
        grid-template-rows: 60px 300px 300px 60px 300px 300px 60px 300px 300px;
        grid-template-areas: 
        "h2D1"
        "iframeD1"
        "pD1"
        "h2D2"
        "iframeD2"
        "pD2"
        "h2D3"
        "iframeD3"
        "pD3";
        @media only screen and (min-width: $minTablet) and (max-width: $maxTablet) {
            $vista:tablet;
            @if $vista == tablet {
                grid-template-rows: 60px 300px 170px 60px 300px 170px 60px 300px 190px;
                grid-template-areas: 
                "h2D1"
                "iframeD1"
                "pD1"
                "h2D2"
                "iframeD2"
                "pD2"
                "h2D3"
                "iframeD3"
                "pD3";
            }
        }
        @media only screen and (min-width: $minDesktop) {
            $vista:desktop;
            @if $vista == desktop {
                column-gap: 1%;
                grid-template-columns: 40% 40%;
                grid-template-rows: repeat(3, 400px);
                grid-template-areas:
                "pD1 iframeD1"
                "iframeD2 pD2"
                "pD3 iframeD3"   
            }
        }
        iframe {
            width: 100%;
            height: 100%;
            border-radius: 20px;    
            @media only screen and (min-width: $minDesktop) {
                $vista:desktop;
                @if $vista == desktop {
                    height: 90%;
                }
            }
        }
        p {
            height: 300px;
            overflow: auto;
            @media only screen and (min-width: $minTablet) and (max-width: $maxTablet) {
                $vista:tablet;
                @if $vista == tablet {
                    height: 200px;                    
                }
            }
            @media only screen and (min-width: $minDesktop) {
                $vista:desktop;
                @if $vista == desktop {
                    height: 100%;                    
                }
            }
        }
        .div__h2--disc1 {
            grid-area: h2D1;
            @media only screen and (min-width: $minDesktop) {
                $vista: desktop;
                @if $vista == desktop {
                    display: none;
                }
            }
        }
        .div__iframe--disc1 {
            grid-area: iframeD1;
            animation: backInLeft;
            animation-duration: 2s;
        }
        .div__contenedor--PDisc1 {
            grid-area: pD1;
            .div__h2--disc1LG {
                display: none;
                @media only screen and (min-width: $minDesktop) {
                    $vista:desktop;
                    @if $vista == desktop {
                        display: block;
                    }
                }
            }            
        }
        .div__h2--disc2 {
            grid-area: h2D2;
            @media only screen and (min-width: $minDesktop) {
                $vista: desktop;
                @if $vista == desktop {
                    display: none;
                }
            }
        }
        .div__iframe--disc2 {
            grid-area: iframeD2;
            animation: backInLeft;
            animation-duration: 4s;
        }
        .div__contenedor--PDisc2 {
            grid-area: pD2;
            .div__h2--disc2LG {
                display: none;
                @media only screen and (min-width: $minDesktop) {
                    $vista:desktop;
                    @if $vista == desktop {
                        display: block;
                    }
                }
            }
        }
        .div__h2--disc3 {
            grid-area: h2D3;
            margin-bottom: 10px;
            padding-bottom: 20px;
            @media only screen and (min-width: $minDesktop) {
                $vista: desktop;
                @if $vista == desktop {
                    display: none;
                }
            }
        }
        .div__iframe--disc3 {
            grid-area: iframeD3;
            animation: backInLeft;
            animation-duration: 6s;
        }
        .div__contenedor--PDisc3 {
            grid-area: pD3;
            .div__h2--disc3LG {
                display: none;
                @media only screen and (min-width: $minDesktop) {
                    $vista:desktop;
                    @if $vista == desktop {
                        display: block;
                    }
                }
            }
        }
    }
}
/* ----------------------- */
/* FIN SECCIÓN DISCOGRAFÍA */