/* ------------- */
/* INICIO HEADER */
header {
    nav {
        div {
            .div__img--logo {
                width: 200px;
            }
            div {
                .ul__a--submenu {
                    &:hover {
                        color: $color1;
                    }
                }                
            }
        }
    }
}
@media only screen and (min-width: $medioTablet) {
    header {
        nav {
            div {
                .div__img--logo {
                    width: 300px;
                }
            }
        }
    }
}
/* FIN HEADER */
/* ---------- */