/* ------------- */
/* INICIO HEADER */
header {
    nav {
        div {
            .img__logo {
                width: 200px;
            }
            div {
                .a__submenu {
                    &:hover {
                        color: $color1;
                    }
                }                
            }
        }
    }
}
@media only screen and (min-width: $medioTablet) {
    header {
        nav {
            div {
                .img__logo {
                    width: 300px;
                }
            }
        }
    }
}
/* FIN HEADER */
/* ---------- */