$vista:mobile;

/* ------------------------ */
/* INICIO SECCIÓN PRE-VENTA */

main {
    .main__div--preVenta {
        background-color: $color2;  
        div {
            div {
                .div__contImg--prev {
                    background-image: url(../multimedia/images/hero-image.jpg);
                    height: 200px;
                    width: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @include flexCentro;
                    flex-direction: row;                    
                    align-items: center;
                    border-radius: 20px;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
                    a {
                        transition: 1s;
                        &:hover {
                            background-color: $color1;
                            width: 100%;
                            font-weight: 500;
                            padding: 5px 0;
                            opacity: 0.8;
                            text-align: center;
                        }
                    }
                    @media only screen and (min-width: $minDesktop) {
                        $vista:desktop;
                        @if $vista == desktop {
                            height: 300px;
                        }
                    }
                }
            }
            .div__prev_adelanto {
                background-color:#C1E8EC;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 20px;
                width: 100%;
                .div__audio--prev {
                    @media only screen and (min-width: $minDesktop) {
                        $vista:desktop;
                        @if $vista == desktop {
                            width: 100%;
                        }
                    }
                }
            }
        }       
    }
}
/* FIN SECCIÓN PRE-VENTA */
/* --------------------- */