$vista:mobile;


/* ---------------------- */
/* INICIO SECCIÓN RESEÑAS */

main {
    .section__resenas {
        background-color: $color3;
        div {
            div {
                // Inicio aplicación map
                $font_resena: (
                30:#424251,
                32:#64647B,
                34:pink
                );
                @each $size, $color in $font_resena {
                    .fontResena_#{$size} {
                        font-size: #{$size}px;
                        color: #{$color};
                    }
                }
                // Fin aplicación map
                img {
                    transition: 1s;    
                    border-radius: 100%;
                    &:hover {
                        translate: 0 -5px;
                        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
                    }
                }
                .img__lg {
                    @media only screen and (min-width: 991.1px) {
                        $vista:desktop;
                        @if $vista == desktop {
                            width: 70%; 
                        }
                    }
                }
                .btn_t_mobile {
                    @media only screen and (min-width: 991.1px) {
                        $vista:desktop;
                        @if $vista == desktop {
                            display: none;
                        }
                    }
                }
            }
            div {
                .btn_r_lg {
                    display: none;
                    @media only screen and (min-width: 991.1px) {
                        $vista:desktop;
                        @if $vista == desktop {
                            display: block;
                        }
                    }
                }
            }
        }    
    }
}
/* FIN SECCIÓN RESEÑAS */
/* ------------------- */