$vista:mobile;


/* ---------------------- */
/* INICIO SECCIÓN RESEÑAS */

main {
    .main__div--resenas {
        background-color: $color3;
        div {
            div {
                // Inicio aplicación map
                $font_resena: (
                20:#424251,
                22:#64647B,
                24:#787892
                );
                @each $size, $color in $font_resena {
                    .div__p--fontResena_#{$size} {
                        font-size: #{$size}px;
                        color: #{$color};
                    }
                }
                // Fin aplicación map 
                div {
                    .div__contenedor--imgRes1 {
                        width: 100px;
                        height: 100px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        border-radius: 100%;
                        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                        background-image: url(../multimedia/images/resena_img_1.jpg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        transition: 1s;    
                        &:hover {
                            width: 120px;
                        }
                        @media only screen and (min-width: $minDesktop) {
                            $vista:desktop;
                            @if $vista == desktop {
                                width: 200px;
                                height: 200px;
                                &:hover {
                                    width: 220px;
                                }                                
                            }
                        }
                    }   
                    .div__contenedor--imgRes2 {
                        @extend .div__contenedor--imgRes1;
                        background-image: url(../multimedia/images/resena_img_2.jpg);                            
                    } 
                                              
                    .div__btn--mb {
                        @media only screen and (min-width: $minDesktop) {
                            $vista:desktop;
                            @if $vista == desktop {
                                display: none;
                            }
                        }
                    }
                }                
            }
            .div__separador {
                background-color: $color2;
                width: 85%;
                height: 5px;
                margin-bottom: 50px;
            } 
            div {
                .div__btn--lg {
                    display: none;
                    @media only screen and (min-width: $minDesktop) {
                        $vista:desktop;
                        @if $vista == desktop {
                            display: block;
                        }
                    }
                }
            }
        }    
    }
}
/* FIN SECCIÓN RESEÑAS */
/* ------------------- */